.header{
    display: flex;
    justify-content: flex-end;
    
    margin-top: 2rem
}


.links{
    text-decoration-line: none;
    display: flex;
    flex-direction: row;
    color: blue;
    width:10%

    
    
}


